name: format-python

on:
  push:
    branches: [main]
  pull_requests:
    branches: [main]

jobs:
  format-python:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.6

      - name: Install requirements
        run: |
          python -m pip install -U pip
          pip install -U black hacking isort mypy blackdoc

      - name: Run black
        run: black . --check --diff

      - name: Run blackdoc
        run: blackdoc . --check --diff

      - name: Run flake8
        run: flake8 .

      - name: Run isort
        run: isort . --check --diff

      - name: Run mypy
        run: mypy .
